__init__.py
*.pyc
.*.swp
.#*
#*#
*~
*DS_Store
*cc.so
*cc.d
*C.so
*C.d
*.pcm
*.png
*.pdf
*.root
*pkl
*#
*.bak
*.ipynb_checkpoints/
*.out
README_PARAMETERS.txt
*so
build/
cython_cygno.c
reco*.txt
*debug.txt